<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>
<body>

    <link rel="stylesheet" href="instasign.css">
<main>
    <div class="page">
        <div class="header">
            
            <div class="logo">
				<img src="instagram.png" alt="instagram" style="width: 175px;">
			</div>

          <!-- <h1 class="logo">Picturegram</h1> -->
          <p>Sign up to see photos and videos from your friends.</p>
          <button><i class="fab fa-facebook-square"></i> Log in with Facebook</button>
          <div>
            <hr>
            <p>OR</p>
            <hr>
          </div>
        </div>
        <div class="container">
          <form action="" method="POST">
            <input type="text" placeholder="username" name="username" value="">
            <!-- <input type="file" name="userimg">  -->
            <!-- <input type="file" name="profile-image"  > // change class name-->
            <!-- <input type="password" placeholder="password" name="password" value="">  // change when mansi tell -->
            <input type="text" placeholder="password" name="password" value="">
            <input type="text" placeholder="confirmpassword" name="confirmpassword" value="">
            <input type="text" placeholder="Email" name="Email" value="">
            <button>Sign up</button>
          </form>
          
          <!-- .list{
            font-size: 10px;
          }  // use for changing text size -->

          <ul class="list">
            <li>People who use our service may have uploaded your contact information to Instagram. </li>
            <li><a href="">Learn More</a></li><br><br>
            <li>By signing up, you agree to our</li>
            <li><a href="">Terms</a></li>
            <li><a href=""> Privacy</a></li>
            <li>and</li>
            <li><a href="">Cookies Policy</a> .</li>
         </ul>
        </div>
    </div>
    <div class="option">
       <p>Have an account? <a href="">Log in</a></p>
    </div>
    <div class="otherapps">
      <p>Get the app.</p>
      <img src="appstore.png" width="135" height="40">
      <img src="googleplay.png" width="135" height="40">
      <!-- <i class="fab fa-google-play"><img src="googleplay.png" width="115" height="40"></i>
      <button type="button"><i class="fab fa-google-play"></i> Google Play</button> -->
    </div>
    <div class="footer">
      <ul>
        <li><a href="">ABOUT</a></li>
        <li><a href="">HELP</a></li>
        <li><a href="">PRESS</a></li>
        <li><a href="">API</a></li>
        <li><a href="">JOBS</a></li>
        <li><a href="">PRIVACY</a></li>
        <li><a href="">TEMS</a></li>
        <li><a href="">LOCATIONS</a></li>
        <li><a href="">TOP ACCOUNTS</a></li>
        <li><a href="">HASHTAGS</a></li>
        <li><a href="">LANGUAGE</a></li>
      </ul>
      <p>© 2020 PICTUREGRAM</p>
    </div>
  </main>

    <!-- <form action="" method="POST" enctype="multipart/form-data">
    // <form action="" method="POST" >

        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username" value=""></td>
            </tr>
            <tr>
                <td>image</td>
                <td><input type="file" name="userimg"  ></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="text" name="password" value=""></td>
            </tr>
            <tr>
                <td>confirmpassword</td>
                <td><input type="text" name="confirmpassword" value=""></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="Email" value=""></td>
            </tr>
            
        </table>
        
        <br>
    
        Already a account?<a href="http://localhost:3500/login">Log in</a>
    
        <br><br>
    
        <button type="otp">Get otp</button>

    </form>

</body>
</html> -->


