<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Sign Up</h1>

    <form action="" method="POST">

        <table>
            <tr>
                <td>Enter your otp here</td>
                <td><input type="text" name="otp" value=""></td>
            </tr>
            
        </table>

        <button type="submit">submit</button>

    </form>

</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="otp.css">
</head>
<body>

<div id="digitsContainer">
    <form id="codeverifyForm" action="" method="POST">
        <div id="inputs">
            <input type="text" class="digit" id="verificationCodeDigit1" minlength="1" maxlength="1" required name="otp" value="">
            <input type="text" class="digit" id="verificationCodeDigit2" minlength="1" maxlength="1" required name="otp" value="">
            <input type="text" class="digit" id="verificationCodeDigit3" minlength="1" maxlength="1" required name="otp" value="">
            <input type="text" class="digit" id="verificationCodeDigit4" minlength="1" maxlength="1" required name="otp" value="">
            <input type="text" class="digit" id="verificationCodeDigit5" minlength="1" maxlength="1" required name="otp" value="">
            <input type="text" class="digit" id="verificationCodeDigit6" minlength="1" maxlength="1" required name="otp" value="">
        </div>
        <button type="submit" id="verificationButton" >Verify code</button>
    </form>
</div> // here we are add another otp page but after we are change into instagram-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>
<body>

    <link rel="stylesheet" href="instasign.css">
<main>
    <div class="page">
        <div class="header">
            
            <div class="logo">
				<img src="instagram.png" alt="instagram" style="width: 175px;">
			</div>

          <!-- <p>Sign up to see photos and videos from your friends.</p> -->
          <!-- <div class="otherapps"><p>Just one more stap: enter the 6-digit code we sent to 9428893063</p></div>  // here we are change font style and then after change size add in css otherappps class  -->
          <p>Enter security Code</p>
          <div class="otherappps"><p>Just one more stap: enter the 6-digit code we sent to 9428893063</p></div>
        </div>
        <div class="container">
          <form action="" method="POST">
            <input type="number" placeholder="confirmation code" name="otp" value="">
            <button>confirm code</button>
          </form>
          
          <!-- .list{
            font-size: 10px;
          }  // use for changing text size -->

        </div>
        <p><a href="" style="text-decoration:none; color: #00a0f7">Resend Code</a> | <a href="" style="text-decoration:none; color: #00a0f7">Change Number</a></p>
    </div>
    <div class="option">
       <p>Have an account? <a href="">Log in</a></p>
    </div>
    <div class="otherapps">
      <p>Get the app.</p>
      <img src="appstore.png" width="135" height="40">
      <img src="googleplay.png" width="135" height="40">
      <!-- <i class="fab fa-google-play"><img src="googleplay.png" width="115" height="40"></i>
      <button type="button"><i class="fab fa-google-play"></i> Google Play</button> -->
    </div>
    <div class="footer">
      <ul>
        <li><a href="">ABOUT</a></li>
        <li><a href="">HELP</a></li>
        <li><a href="">PRESS</a></li>
        <li><a href="">API</a></li>
        <li><a href="">JOBS</a></li>
        <li><a href="">PRIVACY</a></li>
        <li><a href="">TEMS</a></li>
        <li><a href="">LOCATIONS</a></li>
        <li><a href="">TOP ACCOUNTS</a></li>
        <li><a href="">HASHTAGS</a></li>
        <li><a href="">LANGUAGE</a></li>
      </ul>
      <p>© 2020 PICTUREGRAM</p>
    </div>
  </main>